@page "{authorId:int?}"
@model BookCatalog.Web.Pages.Authors.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<div>
    <form method="post">
        <table class="table">
            <tr>
                <td>Author Name</td>
                <td><input asp-for="Author.AuthorName" class="form-control" /></td>
            </tr>
            <tr>
                <td>Pen Name</td>
                <td><input asp-for="Author.PenName" class="form-control" /></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </form>

</div>
