@page "{authorId:int?}"
@model BookCatalog.Web.Pages.Authors.AddBooksModel
@{
    ViewData["Title"] = "AddBooks";
}

<h2>@Model.Author.AuthorName</h2>

<form method="post">
    <div class="form-group">
      
            
            <label asp-for="Book.Title"></label>
                    <input asp-for="Book.Title" class="form-control" />
            <label asp-for="Book.Copyright"></label>
                <input asp-for="Book.Copyright" class="form-control" />
        <label asp-for="Book.Publisher"></label>
               <input asp-for="Book.Publisher" class="form-control" />
        <label asp-for="Book.ImageUrl">Image URL</label>
               <input asp-for="Book.ImageUrl" class="form-control" />
        </div>
  
    <button type="submit" class="btn btn-primary">
        Add
    </button>
</form>

